asgiref==3.12.1
Django==6.0.8
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
pillow==12.3.0
psycopg==3.3.5
psycopg-binary==3.3.5
psycopg2-binary==2.9.13
PyJWT==2.14.0
python-dotenv==1.2.3
huggingface-hub>=0.34,<1.0
sqlparse==0.5.5
